@import "nav.css";
@import "footer.css";
@import "portfolio.css";
@import "froala_blocks.css";
@import "froala_blocks.min.css";

.hero-section {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("../img/lib-2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
}

#text {
  width: 500px;
  color: rgb(255, 255, 255);
}
/*.hero-section .logo {
  height: 150px;
  display: block;
  margin: auto;
}

.hero-section .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
} */

/* product */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.viewall {
  float: right;
  text-decoration: none;
  opacity: 0.7;
  color: #383838;
}

.viewall:hover {
  opacity: 1.2;
}
.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
} */

/* .product-category ::after {
  content: "";
  background: #ff523b;
  width: 90px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateY(-50%);
} */

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-des {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
/* 
.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
} */

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  /* width: 100%; */
  display: grid;
  margin-top: 60px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 10px; */
  /* margin: 10px 10px 10px 10px; */
}

.collection {
  position: relative;
  /* transition: 0.5; */
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1.2;
  border-radius: 10px;
}

/* .collection:hover {
  transform: scale(1.11);
} */
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(230, 242, 243);
  font-size: 30px;
  text-transform: capitalize;
}

.fdb-block.container.row.col-8 h1 {
  font-family: roboto, sans-serif;
  font-weight: 700;
}

.bg-light {
  border-radius: 20px;
  border: 5px solid rgb(44, 48, 51);
  /* background-color: aqua !important; */
  /* height: 500px; */
  /* padding: 0 20px; */
  margin: 40px;
}

.bg-light h1 {
  text-align: center;
  font-family: roboto, sans-serif;
  font-weight: 700;
}

.font-weight-bold p {
  font-weight: bold !important;
}

.content-grids {
  /* background: #3391e7; */
  padding: 20px 0px;
}

@media screen and (max-width: 1366px) {
  .wraper {
    width: 90%;
  }
}

.wraper {
  width: 90%;
  margin: 0 auto;
}

.group {
  zoom: 1;
}
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.section h2 {
  justify-content: center;
  text-align: center;
  margin-bottom: 0.25rem !important;
}

.section hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.fullbox:first-child {
  margin-left: 0;
}
.fullbox {
  display: block;
  float: left;
  margin: 0% 0 0% 1.6%;
  background: #f1f6f9;
  width: 29.2%;
  height: 50%;
  padding: 1.5%;
  border-radius: 1.1em;
}

.fullbox .imgbox {
  width: 32.2%;
  display: block;
  float: left;
}

.fullbox .imgbox img {
  max-width: 100%;
  display: block;
}

.fullbox .textbox {
  display: block;
  float: left;
  margin: 0% 0 0% 3.6%;
  width: 64.2%;
  margin-top: 5px;
}
.fullbox .textbox h3 {
  color: #3391e7;
  margin-bottom: 0.2em;
  margin-top: 0;
  font-size: 2em;
  font-family: "Ropa Sans", sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
}

.fullbox .textbox p {
  font-size: 0.8125em;
  color: #3391e7;
  line-height: 1.5em;
  font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma, Verdana, sans-serif;
  padding: 0;
}

.fullbox .textbox button {
  line-height: 1.9em;
  margin-top: 0.2em;
}
