* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}
.header {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

  margin-top: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 20px;
}
nav ul li a {
  transform: 0.5s;
}
nav ul li a:hover {
  color: #000;
  text-decoration: black;
  transform: translateY(-5px);
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #000;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: auto;

  border-radius: 240px;
  cursor: pointer;
  transition: 0.5s;
}
.col-2 img:hover {
  transform: translateY(-10px);
}
.col-2 h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 25px 0;
}
.btn {
  display: inline-flex;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}
.btn:hover {
  background: #000;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  padding: 25px 25px;
  margin: auto;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: 0.5x;
}
.col-4:hover {
  transform: translateY(-10px);
}
.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  color: #000;
  position: relative;
  line-height: 60px;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 90px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateY(-50%);
}

h4 {
  color: #000;
  font-weight: bold;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.offer {
  background-color: #f2b6c1;
  text-align: center;
  color: black;
  width: auto;
  margin-top: 80px;
  padding: 0 30px;
}
.offer small {
  padding: 20px;

  margin: 50px;
}
#r {
  justify-content: center;
  margin: 10px;
}

.col-2 .offer-img {
  padding: 50px;
  padding-left: 20px;
}
small {
  color: brown;
}

.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}
.textmonial .col-3:hover {
  color: black;
  transform: translateY(-10px);
}

.testimonial .col-3 img {
  width: 50px;
  border-radius: 50%;
  margin-top: 20px;
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #000;
}
.testimonial .col-3 h3 {
  text-align: center;
  font-weight: 600;
  color: #555;
}
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
.footer {
  background: #000;
  background-color: #000;
  color: #8a8a8a;
  padding: 60px 0 20px;
  font-size: 14px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.addlogo {
  margin-top: 20px;
}
.addlogo img {
  width: 140px;
}
.footer-col-4 ul li {
  color: white;
  transform: 0.5s;
}
.footer-col-4 ul li:hover {
  text-decoration: underline;
  color: white;
}
.footer hr {
  border: none;
  height: 1px;
  margin: 20px 0;
  background: #b5b5b5;
}
.copyright {
  text-align: center;
}
.menuicon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menuicon {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

.row-2 {
  justify-content: space-around;
  margin: 100px auto 50px;
}
select {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
select:focus {
  outline: none;
}
select:hover {
  font-weight: 600;
  color: #ff523b;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}
.color {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  color: #fff;
}

.single-product {
  margin: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  color: chocolate;
  font-weight: bold;
  display: block;
  margin: 20px 0;
  font-size: 22px;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ff523b;
  margin-right: 20px;
}
.input:focus {
  outline: none;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.col-3-about {
  flex-basis: 24%;
}
.col-2-about {
  margin-left: 20px;
  margin-top: 50px;
  flex-basis: 100%;
}
.col-2-about h1 {
  text-align: center;
  font-size: 50px;
  padding: 30px;
}
.col-2-about p {
  font-size: 20px;

  margin: 20px;
  font-style: oblique;
  padding: 15px;
}
.col-3-about button {
  height: 30px;
  display: block;
  background-color: #ff523b;
  color: #fff;
  padding: 5px;
  width: 200px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  transform: 0.5s;
}
.col-3-about button:hover {
  color: #000;
}
.col-3-about p {
  text-align: center;
  padding: 20px;
}
.col-3-about img {
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
}
.col-3-about img:hover {
  border-radius: 50px;
  transform: translateY(-10px);
}
.col-2-about img {
  justify-content: center;
  margin-left: 300px;
  transition: all 0.5s;
  cursor: pointer;
}
.col-2-about img:hover {
  transform: translateY(-10px);
}
.x {
  border-radius: 10px;
  background-color: #000;
  transition: 0.5s;
}
.y {
  border-radius: 20px;
  background-color: #000;
  transition: 0.5s;
}
.y:hover {
  transform: translateY(-10px);
}
.x:hover {
  transform: translateY(-2px);
}

.cart-page {
  margin: 80px auto;
}
.cart-page table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  padding: 30px;
  text-align: left;
  color: #000;
  background-color: #70db93;
  font-weight: normal;
}

td {
  margin-top: 20px;
  padding: 20px 5px;
}
td input {
  width: 50px;
  height: 30px;
  border: 2px solid orangered;
}
td p {
  padding: 20px;
  font-size: 25px;
}
td a {
  font-size: 20px;
  color: orangered;
  text-decoration: orangered;
}
.total-price {
  display: flex;
  justify-content: flex-end;
  border-top: 5px solid green;
}
.total-price table {
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.account-page {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding: 50px 0;
}
.form-container {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  position: relative;
  width: 300px;
  margin: auto;
  height: 400px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.1);
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

.form-btn {
  display: inline-block;
  padding: 20px;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
}
form input:hover {
  border: 2px solid black;
}
form .btn {
  justify-content: center;
  width: 100%;
  border: none;

  cursor: pointer;
  margin: 10px 0;
}
form.btn:focus {
  outline: none;
}
#Loginform {
  left: -300px;
}
#Registerform {
  left: 0;
}
form a {
  font-size: 12px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
.col-2 .w {
  width: 100%;
  border-radius: 0;
}

.vi {
  position: relative;
  width: 100%;
  margin: 0;
  top: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  padding: 0;
}

#MenuItems {
  font-family: Arial, Helvetica, sans-serif;
}
